@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.video-container {
  display: flex;
  margin-top: -38px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 100px;
}

@media screen and (min-width: 622px) {
  .video-container {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1200px;
  }
}
.video-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.video-container div {
  display: flex;
  flex-direction: column-reverse;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  width: 300px;
  text-align: center;
}
.video-container div p{
  direction: rtl;
  font-size: 16px;
  font-weight: bold;
}
.video-container div img{
  width: 200px;
}

.ytp-contextmenu
{
    display: none;
    pointer-events: none;
    z-index: -1;
    background-color: transparent;
    color: transparent;
    font-size: 0;
    max-width: 0;
    max-height: 0;
    min-width: 0;
    min-height: 0;
    width: 0;
    height: 0;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: default;
}